@mixin flex($flexDirection,$justifyContent,$alignItems) {
    list-style-type: none;
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems
}


section {
    #curve_chart {
        width: 40vw;
        height: 50vh;
    }

    &.container {
        div {
            h2 {
                display: block;
                border-bottom: 2px solid black;
                padding: 0.5rem;

            }

            img {
                padding-top: 1rem;
                width: 75dvw;
            }

            &.content {
                border: 1px solid black;
            }
        }

    }

    &.mid {
        padding-bottom: 3rem;
    }

    &.up {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    &.right {
        padding: 2rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            font-size: 1.5rem;
            text-align: center;

        }

        iframe {
            border: 2px solid blue;
            border-radius: 10px;
            width: 300px;
            height: 300px
        }

        div {
            p {
                font-size: 1.5rem;
                color: red;
            }

            ul {
                .links1 {
                    @include flex(row, space-around, center);
                }

                .links2 {
                    @include flex(row, space-around, center);
                    
                }
            }
        }

    }

    &.left {
        padding: 2rem;
        flex-grow: 4;
        flex-shrink: 1;
        flex-basis: 350px;
        width: 55dvw;
        ;
        float: left;
    }


}